.DS_Store
.tags
.CFUserTextEncoding
.Trash/
.asdf/
.bash_history
.bash_sessions/
.bundle/
.bundler-exec.sh
.bundler/
.cache/
.config/
.cups/
.docker/
.dropbox/
.electron/
.erlang.cookie
.exercism.json
.gem/
.gnupg/
.heroku/
.hex/
.httpie/
.lesshst
.local/
.netrc
.node-gyp/
.npm/
.oh-my-zsh/
.pow
.pry_history
.psql_history
.rbenv/
.sh_history
.sqlite_history
.ssh/
.subversion/
.viminfo
.zcompdump
.zcompdump-Clu-5.0.8
.zcompdump-Clu-5.2
.zsh-update
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Dropbox (Personal)/
Dropbox (Spreedly)/
Gemfile.lock
Library/
Movies/
Music/
Pictures/
Public/
Reference/
bin/
dev/
exercism/
foo.txt
foo/
gpg/
scratch/